.dropdown{
    

    &.dropdown-user{

        button.dropdown-toggle{
            background-color: transparent;
            box-shadow: none;
            border: none;

            &:after{
                content: none;
            }
        }

        ul.dropdown-menu{
            background-color: $dark-component;
            
            position: absolute;
            inset: auto auto 0px 0px;
            margin: 0px;
            transform: translate(12px, -61px);

            li{
                a.dropdown-item{
                    color: $text-white;
                    &:hover{
                        background-color: $dark;
                    }
                }

                button{
                    

                    
                }
            }
        }
    }
}