.header{
    background-color: $dark;
    z-index: 30;
    width: 100%;
    height: 60px;

    .nav-items{
        width: max-content;
        
        button{
            
        }
    }
}

.offcanvas{
    background-color: $dark-component;
    z-index: 1055;

    button.btn-close{
        color: $text-white
    }
}