header {
    position: relative;
    background-color: #0000009c;
    border-bottom-left-radius: $primary-radius;
    border-bottom-right-radius: $primary-radius;
    box-shadow: $main-shadow;
    z-index: 1040;
    width: 100%;

    @include respond-above(xs) {
        border-radius: none;
        box-shadow: none;
        background-color: transparent;
        height: 60px;
    }

    button {
        
        &#offcanvasClose,
        &#notificationsDropdown,
        &#userDropdown,
        &#offcanvasToggle {
            padding:.3rem .6rem;

            svg {
                width: 32px;
                height: 32px;
            }

            &:focus,
            &:focus-visible{
                outline: none;
                box-shadow: none;
            }
        }

        &#offcanvasToggle{
            padding-right: 0;
        }

        &#notificationsDropdown{
            padding-left: 0;

            svg {
                width: 28px;
                height: 28px;
            }
        }
    }

   
}

.offcanvas {
    background-color: $dark-component;
    z-index: 1055;

    button.btn-close {
        color: $text-white;
    }
}
