@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}

.font-cyber{
    font-family: 'Cyber', sans-serif;
}

.container-page{
    font-family: 'Oxygen', sans-serif;
}